{% extends "base.html" %}
{% block content %}
	<body style="height: 100%; width: 100%; background-image: url({{darrenanderson}});
	background-size: 100px; background-repeat: repeat">
		<marquee direction="down" style="font-family: Comic Sans MS">LinkedOut</marquee>
		<div >
			<form method="get">
				<p style="font-size: 50px; font-family: Comic Sans MS">{{blob}}</p>
				<br>
				<marquee direction="right">{{blub}}</marquee>
				<br>
				<input style="font-family: Comic Sans MS" type="submit" value="j my b" name="j">
			</form>
		</div>
	</body>
{% endblock %}